@charset "utf-8";
/* CSS Document */
	#swagg-player{
		text-align:center;
		width:370px;
		height:270px;
		padding-left:5px;
		background-color:#FFF;
		color:#000;
		border:#F93 solid thick;
		font: 100% Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
	}
	#wrapper {
		width:180px; 
		height:5px; 
		margin-left:auto;
		margin-right:auto;
		background-color:#CCC;	
	}
	.list-over {
		font-weight:bold;	
		background-color:#F93;
	}
	#bar {
		width:0px; 
		height:5px; 
		background-color:#F93;	
	}
	#controls{
		width:200px;
		margin-left:auto;
		margin-right:auto;
	}
	#controls a{
		padding:5px;
	}
	
	#info{
		margin-left:auto;
		margin-right:auto;
		width:80%;
	}
	#label{display:block;}
	
	#album-art {
		margin-left:auto;
		margin-right:auto;
		width:100px;
		height:100px;
		text-align:center;
		display:block;
	}
	.border {
		border:#F00 thin solid;	
	}
		.playlist-item {
		font-family: "Trebuchet MS", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
		border-top:#000 2px solid;
		width:100%;
		background-color:#FFF;
		color:#F60;
		display:block;
	}
	.border {
		border:#000 3px solid;	
	}
	.playlist-item a {
		text-decoration:none;
		color:#000;
	}
	#list {
		width:350px; 
		margin-left:auto; 
		margin-right:auto; 
		border-bottom:#000 
		2px solid; text-align:center;	
	}