@charset "utf-8";
/* CSS Document */
	#swagg-player{
		text-align:center;
		width:370px;
		height:270px;
		padding-left:5px;
		background-color:#FFF;
		color:#000;
		font: 100% Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
	}
	#swagg-player-progress-wrapper {
		width:180px; 
		height:5px; 
		margin-left:auto;
		margin-right:auto;
		background-color:#CCC;	
	}
	.list-over {
		font-weight:bold;	
		background-color:#F93;
	}
	#swagg-player-loaded {
		width:0px; 
		height:5px; 
		background-color:#FC6;
	}
	#swagg-player-bar {
		width:0px; 
		height:5px; 
		background-color:#F93;
		float:left;
		margin-left:0;
	}
	#swagg-player-controls{
		width:200px;
		margin-left:auto;
		margin-right:auto;
		
	}
	.swagg-player-button{
		padding:5px;
	}
	
	#swagg-player-song-info{
		margin-left:auto;
		margin-right:auto;
		width:80%;
	}
	#label{display:block;}
	
	#swagg-player-album-art {
		margin-left:auto;
		margin-right:auto;
		position:relative;
		width:100px;
		height:100px;
		text-align:center;
		display:block;
	}
	.border {
		border:#F00 thin solid;	
	}
	.swagg-player-playlist-item {
		font-family: "Trebuchet MS", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
		border-bottom:#000 2px solid;
		width:100%;
		background-color:#FFF;
		color:#000;
		display:block;
	}
	.border {
		border:#000 3px solid;	
	}
	.swagg-player-playlist-item:hover {
		font-weight:bold;	
		background-color:#F60;
	}
	#swagg-player-list {
		width:350px; 
		height:100px;
		margin-left:auto; 
		margin-right:auto;
		text-align:center;	
	}