

body{
  color:#fff;
  font-family:'Open Sans Condensed',sans-serif;
}
h2,h3,h4,h5,h6{font-family:'Open Sans Condensed',sans-serif;}

h2 {
  font-weight:100;
}

#content-row {
  margin-top:100px;
}

#swagg-player {
  background-color:#1c231e;
  height:500px;
  margin-top:10px;
  border-radius:10px;
}

#album-art-row {
  height:250px;
  margin-top:10px;
}

#album-art {
  background:red;
  width:250px;
  height:250px;
  margin-left:auto;
  margin-right:auto;

  border-radius:250px;
}

#progress-bar {
  margin-top:30px;
  background:white;
  height:5px;
}

.time {
  text-align: center;
  font-weight: 100;
}


.sloaded {
  background:#ccc;
  height:100%;
  /*width: 0px;*/
}

.sprogress {
  background:red;
  /*width:0px;*/
  height: 100%;
}

.center-text {
  text-align:center;
}

.swagg-player-button {
  position:relative;
  left:50%;
  margin-left:-16px;
}